@import url("https://unpkg.com/leaflet/dist/leaflet.css");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Lato:wght@400;700&display=swap");
@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
/* @import url("https://unpkg.com/leaflet/dist/leaflet.css"); */

:root {
  --colorRed: #bc1f24;
  --colorChilli: #e52229;
  --colorBlack: #030303;
  --colorGrey: #667085;
  --colorYellow: #fdd100;
  --colorWhite: #fff;
  --colorYellowHover: #daba1a;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

body {
  font-size: 14px;
  font-family: "Lato", sans-serif;
}

/* global.css atau tailwind base */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

@layer base {
  .google-map * {
    border-style: none;
  }
}

.gradasi {
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgb(247, 237, 237) 10%,
    rgb(220, 139, 141) 15%,
    rgb(188, 31, 36) 25%,
    rgb(188, 31, 36) 100%
  );
}
