@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Lato:wght@400;700&display=swap');
@import "tailwindcss";

body {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

.cs-border{
  border:solid 1px red;
}

